data
*.csv
*.npy
Results
.idea
**.pyc
trainedModels
**.zip
__pycache__
*.json
*.sh
*Result
\Result*
Results
Results_test
configuration.json
Result_2_22_GPU
*.mp4
wandb
*.png
sample_vids_baseGEN
sample_videos_real
sample_vids_real
config.json
exwgan_GPU_job.sh
**.idea
**.pyc