data
*.csv
*.npy
Results
.idea
/**.idea/
**.pyc
trainedModels
**.zip
__pycache__
*.json
*.sh
*Result
\Result*
Results
Results_test
config.json
**.json
*.mp4
wandb
*.png
sample_vids_baseGEN
sample_videos_real
sample_vids_real
exwgan_GPU_job.sh
**.idea
**.pyc